<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Arman Sani</title>
  </head>
  <link href="./index.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>

  <body>
    <div id="header">
      <img id="profile" style="width: 200px; border-radius: 50%; margin: 0 43%" src="/me.jpg" alt="" />
      <img id="scope"src="/aim2.png" style="opacity: 0;width: 250px; position: absolute; left: 0 "alt="" />
      <h1 style="">Arman Sani - Full Stack Web Developer</h1>
    </div>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <p id="home" class="navbar-text">Arman Sani</p>
        <button id="project1" type="button" class="btn btn-default navbar-btn">Project 1</button>
        <button id="project2" type="button" class="btn btn-default navbar-btn">Project 2</button>
        <button id="project3" type="button" class="btn btn-default navbar-btn">Project 3</button>
        <button id="project4" type="button" class="btn btn-default navbar-btn">Project 4</button>
      </div>
    </nav>
    <div class="container">
      <div id="p1">
      <h1 style="text-align: center"> About me</h1>
      <p>
        I want to be a JR full-stack developer with a focus on ruby-on-rails, javascript, and html/css. In the future i hope to work with a company with a product i can stand by, a team i can work with, and a company that can take my skills from a junior level to a senior level. </p>
<p>I’m a first generation Iranian American who recently decided to put aside my career in Sales & Network Marketing to pursue a future in full-stack Web Development. The world of coding is a world of constant learning and challenge that doesn’t prejudice where you come from, but only cares about where you’re going, and that’s what continues to fuel my passion to become a powerful web developer. </p>
<p>In my previous world of Network Marketing, I was  required to grow myself into a leader quickly because I needed to lead a team of high performers to achieve their own successes & sales goals. I also realized that I quickly needed to become comfortable being uncomfortable if I ever wanted to see success, which meant I needed to be comfortable with public speaking in front of hundreds of people, comfortable cold marketing people to share the business opportunity/product, and comfortable getting used to hearing the most feared single word… “no”. Combine those experiences with my childhood where I moved around a lot due to my parents work and financial situation resulting in myself attending seven different schools. These situations blessed me with my avid learner personality, open mindedness and a craving for solving challenges, that I plan to combine with my networking marketing skills and web development skills in my next role. </p>
<a href="https://github.com/armanisani">Github</a>
<a href="https://www.linkedin.com/in/armansani?trk=nav_responsive_tab_profile">Linkedin</a>
    </div>
    <div style="display: none" id="p2">
      <p>
        <h2>Choose Your Own Adventure!</h2>

<p>The object of the game is to choose a path that you find best to take you onto the next stage. After you pick a path an event will pop up explaining the consequences of your decision. Not all paths will lead you forward some will kill your player, damage him greatly, or lead you in the wrong direction. You can find weapons and supplies that will help you along the way with paths.

Each stage you continue onto will reward you with 5 points to your score, and if you hit certain milestones you will be rewarded more points. After your player 1 dies, player 2 will start from the begginning. Once both players die, the winner will be determined base off who has the most points.</p>

<h4>Play this game here: <a href="http://armanisani.github.io/Survive_Game/">Play Game</a> <br>
  Trello: <a href="https://trello.com/b/v5tNGLoW/wdi-p1">User Stories</a></h4>

<h3>How to Play </h3>

<p>Pick a path by clicking the picture of the path you find best

After picking a path an event will pop up explaining the consequences of your decision

When you are done reading an event click outside the box for an easy exit out of it</p>

<h3>Game Tips</h3>

<p>Make sure to check the box first to get your tool that will help you get started

Dont trust the soldiers, they will hurt you

Becareful when you run

This game is really really hard </p>

<h3>Future Implementations</h3>

<p>Create your own choose adventure game</p>

<p>4 players</p>

<p>Different Maps</p>

<p>More detailed explainations</p>

<h3>Technologies/Frameworks</h3>

<p>HTML</p>

<p>CSS</p>

<p>Javascript</p>

<p>jQuery</p>

<p>Bootstrap</p>


      </p>
    </div>
    <div style="display: none" id="p3">
      <h2>cart e-commerce</h2>
<p>Buy unique artwork from artists across the globe! This website is designed to give artists a tool to be able to upload their artwork to their fanbase to view, like, and bid on to have an opportunity to add it to their art collection in real life and on their profile! Users have the ability to follow artists/users they like and view their artposts on their feed.</p>

Trello: <a href="https://trello.com/b/47MlJ82w/wdi-p2">Link</a> <br>
Site here: <a href="https://shrouded-thicket-68839.herokuapp.com/">Link</a> <br>

<h3>Future Implementations</h3>
<ul>
<li>Bid/buyout</li>
<li>Shopping cart</li>
<li>Popup images/signup&signin</li>
<li>More polished</li>
<li>User messaging</li>
<li>More responsive navbar</li>
<li>Awards/trophies</li>
<li>More detailed art posts</li>
</ul>

<h3>Technologies/Frameworks</h3>
<ul>
<li>HTML5/CSS3</li>
<li>Javascript</li>
<li>Ruby on Rails</li>
<li>Jquery</li>
<li>Bootstrap</li>
</ul>

    </div>
    <div style="display: none" id="p4">
      <h2>Skedj</h2>

      <h3>Description</h3>

      <p>This website simplifies making itineraries by giving you realtime access to Yelp's api giving you a rundown of restaurant, bars, events, etc in your geolocated area. We give you an easy step by step process that lets you plug in what you want to our "sophisticated algorithm", and in return you receive the most ideal schedule combination of business based off of your needs & location.</p>
      <a href="https://skedj.herokuapp.com/">Site here</a> <br>
      
      <a href="https://trello.com/b/afv84TWz/wdi-p3">Trello</a>

      <h3>Technologies Used</h3>
      <ul>
        <li>NodeJS + Express</li>
        <li>MongoDB + Mongoose</li>
        <li>Javascript + jQuery</li>
        <li>AJAX</li>
        <li>Passport</li>
        <li>Materialize</li>
        <li>HTML</li>
        <li>CSS</li>
      </ul>
      <h3>Third-party APIs</h3>
      <ul>
      <li>Yelp</li>
      <li>Google Maps</li>
      <li>OAuth Providers</li>
      <li>Facebook</li>
    </ul>
      <h3>Data Model</h3>
      <h4>User</h4>
      <p>contains user data (email, password, saved schedules[links as reference])</p>
      <h4>Schedule</h4>
      <p> contains times and an array of businesses (embeded)</p>
      <h4>Business</h4>
      <p>contains reference to a Yelp business id, plus parameters for quick display on frontend</P>
    </div>
    <div style="display: none"id="p5">
      <h2>Cart Mobile App</h2>
<h3>Description</h3>

<p>This mobile app helps connect independent business owners to customers around the world by working as a platform for business owners to be able to plug in their business for potential customers to see and buy.<p>
<a href="https://stark-wave-90063.herokuapp.com/">Site here</a>
<h3>Technologies Used</h3>
<ul>
<li>NodeJS + Express + Angular</li>
<li>MongoDB + Mongoose</li>
<li>Javascript + jQuery</li>
<li>Cordova + Ionic</li>
<li>HTML</li>
<li>CSS</li>
</ul>

<h3>Future Implementations</h3>
<ul>
<li>Facebook auth</li>
<li>Stripe</li>
<li>Search tab</li>
<li>Notifications Tab</li>
<li>Photo upload</li>
</ul>
<h3>Data Model</h3>
<ul>
<li>Users</li>
<p>contains user data (email, name, password, products, followers/following )</p>
<li>Likes</li>
<p>contains like data</p>
<li>Products</li>
<p>contains data about the products a user post-user</p>
<li>Relations</li>
<p>contains data about who the user follows/following</p>
<li>Category</li>
<p>contains data about which category a product is help within</p>
<li>Review</li>
<p>contains data about what review a product has</p>
</ul>
    </div>
    <div class="footer">
      <div class="container">

          <form class="well form-horizontal" action=" " method="post"  id="contact_form">
      <fieldset>

      <!-- Form Name -->
      <legend>Contact Me Today!</legend>

      <!-- Text input-->

      <div class="form-group">
        <label class="col-md-4 control-label">First Name</label>
        <div class="col-md-4 inputGroupContainer">
        <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input  name="first_name" placeholder="First Name" class="form-control"  type="text">
          </div>
        </div>
      </div>

      <!-- Text input-->

      <div class="form-group">
        <label class="col-md-4 control-label" >Last Name</label>
          <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input name="last_name" placeholder="Last Name" class="form-control"  type="text">
          </div>
        </div>
      </div>

      <!-- Text input-->
             <div class="form-group">
        <label class="col-md-4 control-label">E-Mail</label>
          <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
        <input name="email" placeholder="E-Mail Address" class="form-control"  type="text">
          </div>
        </div>
      </div>


      <!-- Text input-->

      <div class="form-group">
        <label class="col-md-4 control-label">Phone #</label>
          <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
        <input name="phone" placeholder="(845)555-1212" class="form-control" type="text">
          </div>
        </div>
      </div>

      <!-- Text input-->

      <div class="form-group">
        <label class="col-md-4 control-label">Company</label>
          <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
        <input name="address" placeholder="Company" class="form-control" type="text">
          </div>
        </div>
      </div>

      <!-- Text input-->

      <div class="form-group">
        <label class="col-md-4 control-label">City</label>
          <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
        <input name="city" placeholder="City" class="form-control"  type="text">
          </div>
        </div>
      </div>

      <!-- Select Basic -->

      <div class="form-group">
        <label class="col-md-4 control-label">State</label>
          <div class="col-md-4 selectContainer">
          <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
          <select name="state" class="form-control selectpicker" >
            <option value=" " >Please select your state</option>
            <option>Alabama</option>
            <option>Alaska</option>
            <option >Arizona</option>
            <option >Arkansas</option>
            <option >California</option>
            <option >Colorado</option>
            <option >Connecticut</option>
            <option >Delaware</option>
            <option >District of Columbia</option>
            <option> Florida</option>
            <option >Georgia</option>
            <option >Hawaii</option>
            <option >daho</option>
            <option >Illinois</option>
            <option >Indiana</option>
            <option >Iowa</option>
            <option> Kansas</option>
            <option >Kentucky</option>
            <option >Louisiana</option>
            <option>Maine</option>
            <option >Maryland</option>
            <option> Mass</option>
            <option >Michigan</option>
            <option >Minnesota</option>
            <option>Mississippi</option>
            <option>Missouri</option>
            <option>Montana</option>
            <option>Nebraska</option>
            <option>Nevada</option>
            <option>New Hampshire</option>
            <option>New Jersey</option>
            <option>New Mexico</option>
            <option>New York</option>
            <option>North Carolina</option>
            <option>North Dakota</option>
            <option>Ohio</option>
            <option>Oklahoma</option>
            <option>Oregon</option>
            <option>Pennsylvania</option>
            <option>Rhode Island</option>
            <option>South Carolina</option>
            <option>South Dakota</option>
            <option>Tennessee</option>
            <option>Texas</option>
            <option> Uttah</option>
            <option>Vermont</option>
            <option>Virginia</option>
            <option >Washington</option>
            <option >West Virginia</option>
            <option>Wisconsin</option>
            <option >Wyoming</option>
          </select>
        </div>
      </div>
      </div>

      <!-- Text input-->

      <div class="form-group">
        <label class="col-md-4 control-label">Zip Code</label>
          <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
        <input name="zip" placeholder="Zip Code" class="form-control"  type="text">
          </div>
      </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label">Website or domain name</label>
         <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
        <input name="website" placeholder="Website or domain name" class="form-control" type="text">
          </div>
        </div>
      </div>

      <!-- radio checks -->
       <div class="form-group">
                              <label class="col-md-4 control-label">Looking to hire?</label>
                              <div class="col-md-4">
                                  <div class="radio">
                                      <label>
                                          <input type="radio" name="hosting" value="yes" /> Yes
                                      </label>
                                  </div>
                                  <div class="radio">
                                      <label>
                                          <input type="radio" name="hosting" value="no" /> No
                                      </label>
                                  </div>
                              </div>
                          </div>

      <!-- Text area -->

      <div class="form-group">
        <label class="col-md-4 control-label">Message Description</label>
          <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
              	<textarea class="form-control" name="comment" placeholder="Message Description"></textarea>
        </div>
        </div>
      </div>

      <!-- Success message -->
      <div class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i> Thanks for contacting me, i will get back to you shortly.</div>

      <!-- Button -->
      <div class="form-group">
        <label class="col-md-4 control-label"></label>
        <div class="col-md-4">
          <button type="submit" class="btn btn-warning" >Send <span class="glyphicon glyphicon-send"></span></button>
        </div>
      </div>
      <form action="mailto:armanisani@gmail.com" method="post" enctype="text/plain" >
          FirstName:<input type="text" name="FirstName">
          Email:<input type="text" name="Email">
          <input type="submit" name="submit" value="Submit">
      </form>

      </fieldset>
      </form>
      </div>
          </div><!-- /.container -->
    </div>
  </div>



    <script type="text/javascript">
      var profile = $('#profile')
      var scope = $('#scope')
      var header = $('#header')
      var button = $('#butt')
      var project1 = $('#project1')
      var home = $('#home')
      var project2 = $('#project2')
      var project3 = $('#project3')
      var project4 = $('#project4')

      home.click(function(){
        $('#p1').show()
        $('#p2').hide()
        $('#p3').hide()
        $('#p4').hide()
        $('#p5').hide()
      })
      project1.click(function(){
      $('#p1').hide()
      $('#p2').show()
      $('#p3').hide()
      $('#p4').hide()
      $('#p5').hide()
      })
      project2.click(function(){
        $('#p1').hide()
        $('#p2').hide()
        $('#p3').show()
        $('#p4').hide()
        $('#p5').hide()
      })
      project3.click(function(){
        $('#p1').hide()
        $('#p2').hide()
        $('#p3').hide()
        $('#p4').show()
        $('#p5').hide()
      })
      project4.click(function(){
        $('#p1').hide()
        $('#p2').hide()
        $('#p3').hide()
        $('#p4').hide()
        $('#p5').show()
      })
      // button.click(function(){
      //   profile.animate({left: "60%"}, 2000).animate({left:"20%"}, 2000).animate({left: "40%"}, 2000, function(){
      //     scope.animate({opacity: 1, left: "40%"}, 2000, function(){
      //       header.css("background", "red")
      //     })
      //   })})
        // $(document).ready(function() {
        //     $('#contact_form').bootstrapValidator({
        //         // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
        //         feedbackIcons: {
        //             valid: 'glyphicon glyphicon-ok',
        //             invalid: 'glyphicon glyphicon-remove',
        //             validating: 'glyphicon glyphicon-refresh'
        //         },
        //         fields: {
        //             first_name: {
        //                 validators: {
        //                         stringLength: {
        //                         min: 2,
        //                     },
        //                         notEmpty: {
        //                         message: 'Please supply your first name'
        //                     }
        //                 }
        //             },
        //              last_name: {
        //                 validators: {
        //                      stringLength: {
        //                         min: 2,
        //                     },
        //                     notEmpty: {
        //                         message: 'Please supply your last name'
        //                     }
        //                 }
        //             },
        //             email: {
        //                 validators: {
        //                     notEmpty: {
        //                         message: 'Please supply your email address'
        //                     },
        //                     emailAddress: {
        //                         message: 'Please supply a valid email address'
        //                     }
        //                 }
        //             },
        //             phone: {
        //                 validators: {
        //                     notEmpty: {
        //                         message: 'Please supply your phone number'
        //                     },
        //                     phone: {
        //                         country: 'US',
        //                         message: 'Please supply a vaild phone number with area code'
        //                     }
        //                 }
        //             },
        //             address: {
        //                 validators: {
        //                      stringLength: {
        //                         min: 8,
        //                     },
        //                     notEmpty: {
        //                         message: 'Please supply your company name'
        //                     }
        //                 }
        //             },
        //             city: {
        //                 validators: {
        //                      stringLength: {
        //                         min: 4,
        //                     },
        //                     notEmpty: {
        //                         message: 'Please supply your city'
        //                     }
        //                 }
        //             },
        //             state: {
        //                 validators: {
        //                     notEmpty: {
        //                         message: 'Please select your state'
        //                     }
        //                 }
        //             },
        //             zip: {
        //                 validators: {
        //                     notEmpty: {
        //                         message: 'Please supply your zip code'
        //                     },
        //                     zipCode: {
        //                         country: 'US',
        //                         message: 'Please supply a vaild zip code'
        //                     }
        //                 }
        //             },
        //             comment: {
        //                 validators: {
        //                       stringLength: {
        //                         min: 10,
        //                         max: 200,
        //                         message:'Please enter at least 10 characters and no more than 200'
        //                     },
        //                     notEmpty: {
        //                         message: 'Please supply a description of your message to me'
        //                     }
        //                     }
        //                 }
        //             }
        //         })
        //         .on('success.form.bv', function(e) {
        //             $('#success_message').slideDown({ opacity: "show" }, "slow") // Do something ...
        //                 $('#contact_form').data('bootstrapValidator').resetForm();
        //
        //             // Prevent form submission
        //             e.preventDefault();
        //
        //             // Get the form instance
        //             var $form = $(e.target);
        //
        //             // Get the BootstrapValidator instance
        //             var bv = $form.data('bootstrapValidator');
        //
        //             Use Ajax to submit form data
        //             $.post($form.attr('action'), $form.serialize(), function(result) {
        //                 console.log(result);
        //             }, 'json');
        //         });
        // });


    </script>
  </body>
</html>
